.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 100px;
}
label {
    font-weight: bold;
}
body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
	margin: 0px 20px 20px 20px;
}
#selected-cars th,td {
    white-space: nowrap;
    font-size: 110%;
}
.removeRow {
    float: right;
    font: 16px Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
}
#map {
    width: 800px;
    height: 600px;
}
#checkAllBlock {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 10px;
}
.car-div-icon {
    color: red;
    font-weight: bold;
}
.car-label {
    margin: 0px -11px;
}
table.dataTable.cell-border thead tr th {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
table.dataTable.cell-border thead tr th:first-child {
    border-left: 1px solid #ddd;
}
#selected-cars-label {
    margin-top:1em;
    margin-bottom:1em;
}